log/
logs/
build/
install/


# Catkin custom files
CATKIN_IGNORE


.vscode/
.venv/
__pycache__/
*.pyc

eeprom.bin

terrain/

mav.parm
mav.tlog*
*.repos
venv/
arducam_calib_data/
src/vision_pipeline/models/yolo26n_v1.0.engine
*.engine
