<?xml version="1.0"?>
<robot name="vtol_vision_rig">

  <link name="base_link" />

  <link name="camera_optical_frame" />

  <joint name="camera_mount_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_optical_frame"/>

    <origin xyz="0.15 0.0 -0.05" rpy="0.0 0.349 0.0"/>
  </joint>

</robot>
